version: '3.8'

services:
  nginx:
    build: .
    ports:
      - "${APP_PORT}:80"
    volumes:
      - ./dist:/usr/share/nginx/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    restart: unless-stopped